<div *ngIf="_ctrlPanelVisible" fxLayout="column">
    <!-- 工令 -->
    <mat-form-field>
      <mat-label>工令卡號</mat-label>
      <input matInput #input [formControl]="orderIdFCtrl">
    </mat-form-field>
    <button fxFlexAlign="end" mat-raised-button mat-button (click)="onClickQuery()">查詢</button>
</div>
<div>
  <table mat-table [dataSource]="translist"
    matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

    <!-- 移轉單號 Column -->
    <ng-container matColumnDef="transId">
      <th mat-header-cell *matHeaderCellDef>移轉單號</th>
      <td mat-cell *matCellDef="let row">{{row.transId}}</td>
    </ng-container>

    <!-- 工令卡號 Column -->
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef>工令卡號</th>
      <td mat-cell *matCellDef="let row">{{row.orderId}}</td>
    </ng-container>

    <!-- 檢裝號 Column -->
    <ng-container matColumnDef="packId">
      <th mat-header-cell *matHeaderCellDef>檢裝號</th>
      <td mat-cell *matCellDef="let row">{{row.packId}}</td>
    </ng-container>

    <!-- 移轉數量 Column -->
    <ng-container matColumnDef="mfAmount">
      <th mat-header-cell *matHeaderCellDef>移轉數量</th>
      <td mat-cell *matCellDef="let row">{{row.mfAmount}}</td>
    </ng-container>

    <!-- 原料桶號 Column -->
    <ng-container matColumnDef="mfMaterial">
      <th mat-header-cell *matHeaderCellDef>原料桶號</th>
      <td mat-cell *matCellDef="let row">{{row.mfMaterial}}</td>
    </ng-container>

    <ng-container matColumnDef="mfDate">
      <th mat-header-cell *matHeaderCellDef>製造日期</th>
      <td mat-cell *matCellDef="let row">{{row.mfDate | date}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>狀態</th>
      <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>

    <!-- 建立日期 Column -->
    <ng-container matColumnDef="createDt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
        建立日期
      </th>
      <td mat-cell *matCellDef="let row">{{row.createDt | date}}</td>
    </ng-container>

    <!-- 建立人員 Column -->
    <ng-container matColumnDef="createUser">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
        建立人員
      </th>
      <td mat-cell *matCellDef="let row">{{row.createUser}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="onClickRow(row)" class="example-element-row" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
