<style>

  .title {
    font-size : 18px;
    font-weight : bold;
  }
  .mg {
    padding: 10px 0px 10px 0px;
  }
</style>
<div fxFill fxLayout="column">
  <div id="header" fxLayout="row">
    <div class="mg title">工令管理頁面</div>
  </div>
  <div fxFlex="grow" fxLayout="row" fxLayout.xs="column">
    <div id="nav" fxLayout="column" fxLayout.xs="row" fxFlex="150px" fxFlex.xs="none" fxLayoutGap="10px">
      <button fxFlexAlign="center" mat-raised-button color="primary" (click)="curViewName = 'order-view'">查詢</button>
      <button fxFlexAlign="center" mat-raised-button color="primary" (click)="curViewName = 'order-creation'">新建</button>
      <div fxFlex="none" fxFlex.xs="fill"></div>
      <button fxFlexAlign="center" mat-raised-button color="primary" (click)="navToBack()">回上頁</button>
    </div>
    <div id="article" fxLayout="column" fxFlex="grow" fxFlex.xs="grow">
      <div *ngIf="curViewName == 'order-view'" fxFill>
          <app-order-view></app-order-view>
      </div>
      <div *ngIf="curViewName == 'order-creation'" fxLayout="column" fxFill >
        <!-- 工令 -->
        <mat-form-field>
          <mat-label>工令卡號</mat-label>
          <input matInput #input [formControl]="orderIdFCtrl">
        </mat-form-field>

        <!-- 材質 -->
        <mat-form-field>
          <mat-label>材質</mat-label>
          <input type="text" matInput [formControl]="prodFCtrl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of prodFilteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- 規格 -->
        <mat-form-field>
          <mat-label>規格</mat-label>
          <input type="text" matInput [formControl]="prodSpecFCtrl" [matAutocomplete]="auto1">
          <mat-autocomplete #auto1="matAutocomplete">
            <mat-option *ngFor="let option of prodSpecFilteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- 客戶代碼 -->
        <mat-form-field>
          <mat-label>客戶代碼</mat-label>
          <input type="text" matInput [formControl]="custFCtrl" [matAutocomplete]="auto2">
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let option of custFilteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- 壓型數量 -->
        <mat-form-field>
          <mat-label>壓型數量(PCS)</mat-label>
          <input matInput type="number" #input [formControl]="amountFCtrl">
        </mat-form-field>

        <!-- 出貨日期 -->
        <mat-form-field>
          <mat-label>出貨日期(請選取)</mat-label>
          <input matInput [min]="minDate" [matDatepicker]="picker" [formControl]="shipDateFCtrl">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="end">
          <button mat-raised-button (click)="navToBack()">取消</button>
          <button mat-raised-button color="primary" (click)="doInsertOrder()">創立</button>
        </div>
      </div>
    </div>
    <div id="aside"fxFlex="20%" fxFlex.xs="none"></div>
  </div>
  <div id="footer"></div>
</div>
